In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [3]:
# Create a sample messy dataset
data = {
    'age': [25, 30, np.nan, 22, 35, 45, np.nan, 50, 32, 28],
    'income': [50000, 70000, 60000, np.nan, 80000, 90000, 55000, np.nan, 72000, 63000],
    'gender': ['M', 'F', 'M', 'F', 'F', 'M', np.nan, 'M', 'F', np.nan],
    'education': ['Bachelors', 'Masters', 'PhD', 'Bachelors', np.nan, 'Masters', 'PhD', 'Bachelors', np.nan, 'Masters'],
    'satisfaction': [7, 8, 5, 9, 6, 3, 8, 10, 7, np.nan],
    'customer_id': ['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008', 'C009', 'C010'],
    'signup_date': ['2023-01-15', '2023-03-20', '2022-12-05', '2023-02-10', '2023-05-22', 
                    '2023-04-30', '2023-01-25', '2022-11-15', '2023-06-07', '2023-03-12']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df.head())
print("\nDataFrame Info:")
print(df.info())

Original DataFrame:
    age   income gender  education  satisfaction customer_id signup_date
0  25.0  50000.0      M  Bachelors           7.0        C001  2023-01-15
1  30.0  70000.0      F    Masters           8.0        C002  2023-03-20
2   NaN  60000.0      M        PhD           5.0        C003  2022-12-05
3  22.0      NaN      F  Bachelors           9.0        C004  2023-02-10
4  35.0  80000.0      F        NaN           6.0        C005  2023-05-22

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           8 non-null      float64
 1   income        8 non-null      float64
 2   gender        8 non-null      object
 3   education     8 non-null      object
 4   satisfaction  9 non-null      float64
 5   customer_id   10 non-null     object
 6   signup_date   10 non-null     object
dtypes: float64(3), object(4)
memory usage: 692.0+ bytes
None

In [4]:
# Step 1: Handle date columns - convert to datetime
df['signup_date'] = pd.to_datetime(df['signup_date'])
print("\n After date conversion:")
print(df['signup_date'].head())

 After date conversion:
0   2023-01-15
1   2023-03-20
2   2022-12-05
3   2023-02-10
4   2023-05-22
Name: signup_date, dtype: datetime64[ns]

In [5]:
# Step 2: Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
age             2
income          2
gender          2
education       2
satisfaction    1
customer_id     0
signup_date     0
dtype: int64